        html {
            height: 100%;
        }
        body {
            margin: 0;
         
            background-image: url('images/background.jpg');
            background-size: cover;
            background-repeat:no-repeat;
        }
        .header {
            margin: auto;
            text-align: center;
            padding: 10px;
        }
        .header img {
            height: 20%;
            width:25%;
        }
        /* Start - Navigation Buttons */
        .topnav {
            overflow: hidden;
            background-color: #5b98d6;
            width: 100%;
            font-size: 20px;
        }

        .topnav a {
            float: left;
            outline: none;
            text-decoration: none;
            color: antiquewhite;
            padding: 16px;
        }

        /* places an underline(bottom border) underneath the nav button for the current page */
        .topnav a.active {
            border-bottom: 5px solid gainsboro;
            color:gainsboro;
        }

        .topnav a:hover {
            border-bottom: 5px solid gainsboro;
            color: black;;
            background: antiquewhite;
            opacity: 0.3;
        }

        /* END - Navigation Buttons */

        /* START FOOTER */
        .footer {

            font-size: x-small;
            text-align: center;
            height: 100%;
        }