/* Container Properties*/
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px; /* or 950px */
  }

  /*Booking Form Properties*/
.booking_form
{
    padding: 0 20px 20px;
}

/*Booking Form Label Properties*/
.booking_form label
{
    margin-bottom:5px;
    margin-top: 10px;
    font-size:12px;
    color:#fff;
}

/* Place Holder Properties*/
input::placeholder
{
color:#fff !important;
}

/* Form-control Properties*/
.form-control
{
    font-size:12px !important;
    border-radius:0 !important;
    color:#fff !important;
    background: transparent !important;
    box-shadow:none !important;
}

/*Booking Form Button Properties*/
.flight
{

    width:100% !important;
    padding: 10px 0 !important;
    font-size:12px !important;
    border: 1px solid #ced4da !important;
    background: transparent !important;
    display:inline-block;
    margin-top: 15px;
}

.flight:hover{
    width:100%;
    background: #fff!important;
    color:#000 !important;
    transition: 0.5s;
    display:inline-block;
    margin-top: 10px;
    
}

/* Picture Properties*/
.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
 .gallery__photo {
      width: 100%;
      display: block; }

      .copyright,
  footer {
    text-align: center;
    bottom: -20;
    background-color: rgb(255, 255, 255,0);
    color: azure;
  }
